/**************************************************************************
 * Penguin Forms                                                          *
 * Copyright (C) 2019-2021 Mark Williams <markw@posteo.net>               *
 * Copyright (C) 2019-2021 Lee Slater <lslater@posteo.net>                *
 * Copyright (C) 2019-2021 Joe Leach <joeldn@protonmail.com>              *
 *                                                                        *
 * This file is part of Penguin Forms.                                    *
 *                                                                        *
 * Penguin Forms is free software: you can redistribute it and/or modify  *
 * it under the terms of the GNU General Public License as published by   *
 * the Free Software Foundation, either version 3 of the License, or      *
 * (at your option) any later version.                                    *
 *                                                                        *
 * Penguin Forms is distributed in the hope that it will be useful, but   *
 * WITHOUT ANY WARRANTY; without even the implied warranty of             *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU       *
 * General Public License for more details.                               *
 *                                                                        *
 * You should have received a copy of the GNU General Public licenses     *
 * along with Penguin Forms. If not, see <https://www.gnu.org/licenses/>. *
 **************************************************************************/

:root {
	--background: #fff;
	--text: #000;
	--primary-light: #f5f5f5;
	--primary: #eee;
	--primary-dark: #ddd;
	--submit: #00703c;
	--submit-hover: #002d18;
	--submit-text: #fff;
	--link: #25c;

	--input-text: #333;
	--input-background: #fff;
	--input-background-hover: #fff;
	--input-background-focus: #fff;

	--nav-background: #234;
	--nav-text: #000;

	--subtext: #234;

	--red: #b00;

	--border-strong: #333;

	--separator: #aaa;
}
