/**************************************************************************
 * Penguin Forms                                                          *
 * Copyright (C) 2019-2021 Mark Williams <markw@posteo.net>               *
 * Copyright (C) 2019-2021 Lee Slater <lslater@posteo.net>                *
 * Copyright (C) 2019-2021 Joe Leach <joeldn@protonmail.com>              *
 *                                                                        *
 * This file is part of Penguin Forms.                                    *
 *                                                                        *
 * Penguin Forms is free software: you can redistribute it and/or modify  *
 * it under the terms of the GNU General Public License as published by   *
 * the Free Software Foundation, either version 3 of the License, or      *
 * (at your option) any later version.                                    *
 *                                                                        *
 * Penguin Forms is distributed in the hope that it will be useful, but   *
 * WITHOUT ANY WARRANTY; without even the implied warranty of             *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU       *
 * General Public License for more details.                               *
 *                                                                        *
 * You should have received a copy of the GNU General Public licenses     *
 * along with Penguin Forms. If not, see <https://www.gnu.org/licenses/>. *
 **************************************************************************/

body {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	margin: 0px;
	padding: 0px;
	background-color: var(--background);
	color: var(--text);
}

main > div {
	position: relative;
}

form {
	margin-bottom: 50px; 
	position: relative;
	margin-top: 5px;
}

main > div ul {
	width: calc(70% - 20px);
	position: absolute;
	right: 17px;
	margin: auto;
	list-style: none;
	padding: 0px;
}
main > div ul ~ form {
	display: contents;
}
main > div ul li {
	padding: 0px;
	width: calc(95% - 40px);
	margin: 0px auto;
}
main > div ul li a {
	padding: 10px;
	border: 0px;
	border-bottom: 1px solid var(--separator);
	width: 100%;
	display: inline-block;
	border-radius: 0px;
	background-color: var(--background);
	text-decoration: none;
	color: var(--link);
	font-size: .84em;
}
main > div ul li:nth-of-type(1) a {
	border-top: 1px solid var(--separator);
}
main > div ul li a:hover {
	background-color: var(--primary);
	text-decoration: underline;
}

#draggableFieldsets {
	width: 70%;
	position: absolute;
	top: 0px;
	right: 0px;
}

#draggableFieldsets > div {
	width: 100%;
	position:relative;
	float: left;
	border: none;
	display: block;
}

/* Draggable elements */
form fieldset.ui-sortable-handle {
	position: relative;
	background-color: var(--primary-light);
	border-radius: 5px;
	border: none;
	margin: 10px 0px;
	width: calc(100% - 40px);
	padding: 10px;

	border: 1px dashed var(--border-strong);
	width: calc(95% - 40px);
	margin: 10px auto;
	transition: background-color .2s;
	transition: width .1s;
}
form fieldset.ui-sortable-handle:hover {
	background-color: var(--primary);
}
form fieldset.ui-sortable-handle.ui-sortable-helper {
	/* While being dragged */
	background-color: var(--background) !important;
	width: calc(90% - 40px) !important;
}

form > fieldset { 
	position: relative;
	background-color: var(--primary); 
	border: none;
	border-bottom: 1px solid var(--separator);
	margin: 0px;
	padding: 15px 10px 20px 10px;
	width: calc(30% - 20px);
}
form > fieldset:nth-of-type(1) {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 5px;
}
form > fieldset:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
	margin-bottom: 10px;
}

form fieldset > legend {
	position: absolute;
	font-weight: bold;
}
form fieldset > label {
	display: block;
	margin-top: 30px;
}

form fieldset.editor a {
	float: right;
	margin-right: 10px;
	text-decoration: none;
	color: var(--link);
}
form fieldset.editor a:hover {
	text-decoration: underline;
}

form fieldset input {
	background-color: var(--input-background);
	display: block;
	width: calc(100% - 20px);
	border: var(--border-strong) 1px solid;
	padding: 10px;
	margin: 5px 0px 0px 0px;
	border-radius: 5px;
	color: var(--input-text);
}
form fieldset input:hover {
	background-color: var(--input-background-hover);
}
form fieldset input:focus,
form fieldset input:active {
	background-color: var(--input-background-focus);
}

form fieldset div > input[type=checkbox] {
	display: inline;
	width: auto;
	margin-top: 20px;
}

form fieldset div > label.inline {
	display: inline;
	width: auto;
	margin: 20px 0 0 10px;
}

.ui-sortable-placeholder {
	background-color: #efefef;
	border: none !important;
	height: 90px;
	width: calc(96% - 4px) !important;
	padding: 0px !important;
	margin: 0px auto !important;
	visibility: visible !important;
}
.ui-sortable-handle {
	cursor: grab;
}

#backend-controls {
	position: relative;
	float: left;
	min-width: 100px;
	height: 100%;
	background-color: #efefef;
}

main > div {
	display: block;
	box-sizing: border-box;
}

header {
	background-color: var(--nav-background);
	color: var(--nav-text);
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

nav {
	background-color: var(--nav-background);
	color: var(--nav-text);
	margin-top: 15px;
	width: 100%;
}

nav ul {
	list-style: none;
	margin: 0px;
}

nav li {
	float: left;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

nav a:hover {
	text-decoration: underline;
}

body.admin main {
	margin-top: 50px;
}

main {
	position: absolute;
	width: 100%;
}

main>div {
	padding: 0 10px;
	width: 100%;
}

.penguin-delete-question {
	position: absolute;
	right: 10px;
}
.penguin-delete-question a {
	text-decoration: none;
	color: var(--link);
	margin: 0 5px;
}
.penguin-delete-question a:hover {
	text-decoration: underline;
}
.penguin-delete-question a.element-delete {
	color: var(--red);
}
.penguin-delete-question a.element-delete:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.3em;
}

h1:empty {
	margin: 0px;
}

h2,h3 {
	font-size: 1.1em;
}

br.clearfloat { width:100%; display: block; height: 0; clear: both; }

/* Button styling */
.up-element {
	padding: 10px;
	margin: 10px 0 5px 0;
	display: inline-block;
	background-color: var(--primary);
	border-radius: 5px;
	border: 2px solid var(--primary-dark);
	text-decoration: none;
	color: var(--text);
	width: calc(15% - 29px);
	text-align: center;
	font-size: .84em;
}
.up-element:hover {
	background-color: var(--primary-dark);
}
#view-live {
	padding: 10px;
	margin: 10px 0 5px 12px;
	display: inline-block;
	background-color: var(--primary);
	border-radius: 5px;
	border: 2px solid var(--primary-dark);
	text-decoration: none;
	color: var(--text);
	width: calc(15% - 29px);
	text-align: center;
	font-size: .84em;
}
#view-live:hover {
	background-color: var(--primary-dark);
}
fieldset > input[type="submit"] {
	padding: 10px;
	display: inline-block;
	background-color: var(--submit);
	border-radius: 5px;
	border: none;
	text-decoration: none;
	color: var(--submit-text);
	cursor: pointer;
}
fieldset > input[type="submit"]:hover {
	background-color: var(--submit-hover);
}
fieldset > input[type="submit"]:active {
	background-color: var(--submit-hover);
}
input[type="submit"] {
	padding: 10px;
	display: inline-block;
	background-color: var(--submit);
	border-radius: 5px;
	border: 2px solid var(--primary-dark);
	border: none;
	text-decoration: none;
	color: var(--submit-text);
	cursor: pointer;
	width: 30%;
}
input[type="submit"]:hover {
	background-color: var(--submit-hover);
}

fieldset > select {
	padding: 10px;
	display: inline-block;
	background-color: var(--input-background);
	border-radius: 5px;
	border: 1px solid var(--border-strong);
	text-decoration: none;
	color: var(--input-text);
	cursor: pointer;
	margin: 5px 0 0 0;
	width: 100%;
}
fieldset > select:hover {
	background-color: var(--input-background-hover);
}
fieldset > select:focus
fieldset > select:active {
	background-color: var(--input-background-focus);
}

.element-type {
	font-size: 0.8em;
	font-weight: lighter;
	color: var(--subtext);
}

table {
	border-spacing: 10px;
	border-radius: 5px;
	width: 100%;
	margin-top: 10px;
}
table tr th {
	padding: 10px;
	background-color: var(--primary-dark);
}
table tr td {
	padding: 10px;
	background-color: var(--primary-light);
	border: 2px solid var(--primary-dark);
}

@keyframes tmp_show {
	1%,90% {
		height: 55px;
	}
	100% {
		height: 0px;
	}
}
.tmp-notification {
	height: 0px;
	overflow: hidden;
	animation: tmp_show 5s;
}
.tmp-notification span {
	display: block;
	width: calc(30% - 24px);
	background-color: var(--primary);
	color: #000;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	margin: 5px 0 10px 0;
	padding: 10px;
	border: 2px solid #0a0;
}
