/**************************************************************************
 * Penguin Forms                                                          *
 * Copyright (C) 2019-2021 Mark Williams <markw@posteo.net>               *
 * Copyright (C) 2019-2021 Lee Slater <lslater@posteo.net>                *
 * Copyright (C) 2019-2021 Joe Leach <joeldn@protonmail.com>              *
 *                                                                        *
 * This file is part of Penguin Forms.                                    *
 *                                                                        *
 * Penguin Forms is free software: you can redistribute it and/or modify  *
 * it under the terms of the GNU General Public License as published by   *
 * the Free Software Foundation, either version 3 of the License, or      *
 * (at your option) any later version.                                    *
 *                                                                        *
 * Penguin Forms is distributed in the hope that it will be useful, but   *
 * WITHOUT ANY WARRANTY; without even the implied warranty of             *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU       *
 * General Public License for more details.                               *
 *                                                                        *
 * You should have received a copy of the GNU General Public licenses     *
 * along with Penguin Forms. If not, see <https://www.gnu.org/licenses/>. *
 **************************************************************************/

body {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	margin: 0px;
	padding: 0px;
	background-color: #fdfdfd;
}

main {
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 1000px;
	margin: auto;
}

h1 {
	font-size: 1.3em;
}

h2,h3 {
	font-size: 1.1em;
}

table {
	border-spacing: 10px;
	border-radius: 5px;
	width: 100%;
	margin-top: 10px;
}
table tr th {
	padding: 10px;
	background-color: #ddd;
}
table tr td {
	padding: 10px;
	background-color: #f5f5f5;
	border: 2px solid #ddd;
}

form {
	background-color: #fdfdfd;
	margin-bottom: 50px; 
}

form > fieldset { 
	background-color: #ddd; 
	padding: 10px;
	width: calc(100% - 20px);
}

form fieldset > legend {
	position: absolute;
	font-weight: bold;
}

label {
	display: block;
	width: 100%;
	margin-top: 30px;
}

input {
	display: block;
	width: calc(100% - 20px);
	border: #333 1px solid;
	padding: 10px;
	margin: 5px 0px 0px 0px;
	border-radius: 5px;
}

input[type=checkbox] {
	display: inline;
	width: auto;
	margin-top: 30px;
}

label.inline {
	display: inline;
	margin: 30px 0 0 10px;
}

.help {
	font-size: 0.9em;
	color: #555;
}

/* Button styling */
button,
fieldset > input[type="submit"] {
	padding: 10px;
	display: inline-block;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #333;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
fieldset > input[type="submit"]:hover {
	background-color: #eee;
}
fieldset > input[type="submit"]:active {
	background-color: #ccc;
}
input[type="submit"] {
	padding: 10px;
	display: inline-block;
	background-color: #eee;
	border-radius: 5px;
	border: 2px solid #ddd;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	width: auto;
	font-size: 0.85em;
}
input[type="submit"]:hover {
	background-color: #ddd;
}
input[type="submit"][value="Submit"],
input[type="submit"][value="Next"] {
	float: right;
}
input[type="submit"][value="Prev"],
input[type="submit"][value="Previous"],
input[type="submit"][value="Back"] {
	float: left;
}
input[type='submit'][disabled],
input[type='submit'][disabled]:hover {
	background-color: #eee;
	color: #bbb;
	border-color: #eee;
	cursor: unset;
}


select {
	display: block;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #333;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	margin: 5px 0 0 0;
	width: 100%;
}
select:hover {
	background-color: #eee;
}
select:active {
	background-color: #ccc;
}

textarea {
	display: block;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #333;
	color: #000;
	margin: 5px 0 0 0;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.page-list {
	box-sizing: border-box;
	border: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 0px;
	padding: 5px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.page-list li.active {}

.page-list li input {
	margin: 0px;
	border-radius: 20px;
}
.page-list li input:hover {}
.page-list li:first-of-type input,
.page-list li:last-of-type  input {
	border-radius: 5px;
}
